.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1 Edit Pin
      .panel-heading.pin_image
        = link_to (image_tag @pin.image.url), @pin
      .panel-body
        = render 'form'
